.formulario {
  display: flexbox;
  text-align: center;
  width: 400px;
  height: 550px;
  border: solid;
  margin-left: 30%;
  margin-top: 100px;
  margin-right: 30%;
	 -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	 -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	 box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  background-image: linear-gradient(+160deg, white, palegreen);
}


.titulo {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 500;
}

.botaoEntrar {
  margin-top: 80px;
}

.cabeçalho {
  display: flex;
  border: 1px solid;
}

.dinheiroImg {
  left: 100.92px;
  right: 78.24%;
  top: 150px;
  bottom: 85.47%;
  width: 37.85px;
  position: absolute;
}

.tituloTabela {
  color: #003BE5;
  font-size: 30px;
  position: absolute;
  width: 79.99px;
  left: 145px;
  top: 150px;
  font-family: 'Epilogue';
}

.subtitleTabela {
  color: #2FC18C;
  width: 104.46px;
  height: 24.92px;
  left: 220px;
  top: 150px;
  position: absolute;
  font-size: 30px;
  font-family: 'Epilogue';
  font-weight: bold;
}

.moedaincon {
  color:#003BE5;
  font-size: 25px;
  position: absolute;
  left: 372px;
  top: 150px;
}

.moeda {
  color:#003BE5;
  position: absolute;
  width: 233px;
  left: 400px;
  top: 160px;
  font-family: 'Epilogue';
  font-weight: 700;
  font-size: 16px;
}

.emailincon {
  color: #2FC18C;
  font-size: 25px;
  position: absolute;
  left: 650px;
  top: 150px;
  border: 3px solid;
  height: 35px;
  width: 31px;
  border-radius: 45%;
}

.emaill {
  color: #2FC18C;
  font-size: 16px;
  position: absolute;
  width: 123px;
  left: 690px;
  top: 160px;
  
  font-family: 'Epilogue';
  font-weight: 600;
  font-size: 16px;
}

.formularioWallet {
  /* display: flexbox; */
  top: 200px;
  position: absolute;
  width: 1037px;
  height: 260px;
  background: rgba(225, 229, 235, 0.49);
}

.conteinerHedear {
  position: absolute;
  display: flexbox;
  width: 1037px;
  height: 482px;
  top: -97px;
  left: 211px;
  background: #FFFFFF;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  border-radius: 10px;
}

.valor , .descricao , .moedaa , .pagamento , .categoria {
  font-family: 'Epilogue';
  position: absolute;
  font-size: 18px;
  color: #003BE5;
  font-weight: 700;
}

.valor {
  top: 110px;
  left: 50px;
}

.valorInput {
  font-family: 'Epilogue';
  position: absolute;
  font-size: 16px;
  color: #003BE5;
  border: 1px solid #003BE5;
  border-radius: 5px;
  box-sizing: border-box;
  width: 158px;
  height: 30px;
  left: 70px;
}

.descricao {
  left: 50px;
  top: 50px;
}

.inputDescricao {
  width: 288.86px;
  left: 190px;
  position: absolute;
  height: 30px;
  border: 1px solid #003BE5;
  border-radius: 5px;
  color: #003BE5;
}

.moedaa {
  left: 750px;
  top: 110px;
}

.InputMoeda {
  box-sizing: border-box;
  width: 91px;
  background-color: #FFFFFF;
  left: 70px;
  position: absolute;
  height: 30px;
  border: 1px solid #003BE5;
  border-radius: 5px;
  color: #003BE5;
}

.pagamento {
  top: 110px;
  left: 300px;
}

.pagamentoInput {
  box-sizing: border-box;
  width: 228px;
  background-color: #FFFFFF;
  left: 200px;
  position: absolute;
  height: 30px;
  border: 1px solid #003BE5;
  border-radius: 5px;
  color: #003BE5;
  font-size: 18px;
}

.categoria {
  left: 570px;
  top: 50px;
}

.categoriaInput {
  box-sizing: border-box;
  height: 30px;
  background-color: #FFFFFF;
  left: 100px;
  position: absolute;
  width: 155px;
  border: 1px solid #003BE5;
  border-radius: 5px;
  color: #003BE5;
  font-size: 18px;
}

.btnForm {
  box-sizing: border-box;
  width: 400px;
  position: absolute;
  height: 40px;
  background: #2FC18C;
  border: 1px solid #2FC18C;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-size: 18px;
  top: 200px;
  left: 310px;
}



.tabelaConteiner {
  position: absolute;
  width: 1155px;
  height: 464px;
  left: 153px;
  top: 370px;
  background: #0d6efd;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  border-radius: 10px;
}

.cabecalhoTabela {
 color: #FFFFFF;
 font-family: 'Epilogue';
 font-weight: 600;
 font-size: 20px;
 display: flexbox;
 top: 30px;
 /* position: absolute; */
}

.ed {
  left: 1000px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.moeConv {
  left: 830px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.valCon {
  border-left: 1px solid;
  left: 680px;
  border-bottom: 1px solid;
}

.cam {
  left: 530px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.md {
  left: 460px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.val {
  left: 380px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.pag {
  left: 200px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.tag {
  left: 130px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.des {
  left: 40px;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.tabela {
  font-family: 'Epilogue';
  font-weight: 500;
  font-size: 20px;
  border-top: 1px solid #2FC18C;
  color: wheat;
  top: 80px;
}

.btnExcluir {
  box-shadow: none;
  color: red;
  border-radius: 25px;
  border-left: 1px solid ;
}

